.dashboard {
  display: flex;
}

.sidebar {
  width: 200px;
  background-color: #333333;
  color: #fff;
  height: 100vh;
  padding: 20px;
}

.sidebar ul {
  list-style: none;
  padding: 0;
}

.sidebar ul li {
  margin: 20px 0;
  display: flex; /* Align items horizontally */
  justify-content: space-between; /* Space between text and arrow icon */
  align-items: center; /* Vertically center the content */
}

.sidebar ul li a {
  color: #fff;
  text-decoration: none;
  display: flex;
  align-items: center; /* Ensure the icon and text are aligned */
}

.sidebar ul li a:hover {
  color: #d4cdcd;
}

.social-icon {
  margin-right: 10px; /* Add space between icon and text */
  vertical-align: middle;
  font-size: 18px; /* Adjust the icon size if needed */
}

.Arrow-icon {
  margin-left: auto; /* Pushes the arrow icon to the right */
  vertical-align: middle;
  font-size: 14px; /* Adjust the size of the arrow if necessary */
  color: #fff;
}

.content {
  padding: 20px;
  width: 100%;
}

.sidebar ul li:hover {
  color: #9c9696;
}
.Arrow-icon :hover {
  color: #746f6f;
}