.new-collection{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    overflow-x: hidden;
}
.new-collection h1{
    text-transform: uppercase;
    font-weight: 700;
}
.new-collection hr{
    width: 150px;
    height: 4px;
    background: black;
    border: none;
}
.collection-list{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    flex-wrap: wrap;
    margin: 100px;
}
.collection-item{
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 16px;
    text-transform: capitalize;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s ease;
    min-width: 300px;
    max-width: 100%;
    background-color: rgb(253, 253, 252);
    text-align: center;
}
.collection-item img{
    object-fit: cover;
    height: 300px;
    width: 100%;
}
.collection-item:hover {
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}

.collection-price{
    font-size: 1.25rem;
    font-weight: bold;
    color: #1a73e8;
}