body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f5f5f5;
  }
  
  .banner-container {
    position: relative;
    width: 100%;
    /* max-width: 1200px; */
    /* height: 1000px; */
    margin: auto;
    overflow: hidden;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  }
  
  .slides {
    display: flex;
    transition: transform 0.5s ease-in-out;
  }
  
  .slide {
    flex: 1 0 100%;
    height: 550px;
    background: linear-gradient(to bottom, rgba(243, 138, 52, 0.5), rgba(255, 255, 255, 0.5));
    text-align: center;
    padding: 20px;
    position: relative;
    box-sizing: border-box;
  }
  
  .slide h1,
  .slide h2 {
    color: #333;
    margin-bottom: 20px;
  }
  
  .slide img {
    width: 100%;
    height: 500px;
    border-radius: 8px;
  }
  
  .btn {
    background: #ffffff;
    color: #0a0000;
    padding: 10px 20px;
    margin: 10px 5px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
  }
  
  .btn:hover {
    background: #f7f7f8;
  }
  
  .nav-btn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: rgba(250, 248, 248, 0.6);
    color: #080000;
    border: none;
    padding: 10px;
    cursor: pointer;
    border-radius: 50%;
  }
  
  .nav-btn.prev {
    left: 10px;
  }
  
  .nav-btn.next {
    right: 10px;
  }
  .btn-cart{
    background: #ffffff;
    color: #0a0000;
    padding: 10px 20px;
    margin: 10px 5px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
  }