.footer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  background-color: #2b2a2a;
  color: white;
  padding: 20px;
}

.footer-newsletter {
  padding: 20px;
}

.newsletter-heading {
  color: rgb(240, 146, 5);
  font-size: 20px;
  margin-bottom: 10px;
}

.newsletter-input {
  display: flex;
  /* flex-direction: column; */
  gap: 10px;
}

.input-value {
  padding: 8px;
  border: none;
  border-radius: 4px;
  width: 100%; /* Responsive width */
  max-width: 250px;
}

.subscribe-button {
  padding: 10px;
  background-color: #eb8500;
  color: #fffffe;
  border: none;
  cursor: pointer;
  border-radius: 4px;
  width: fit-content;
}

.footer-info {
  display: flex;
  /* flex-wrap: wrap; */
  gap: 20px;
  /* justify-content: space-around; */
}

.footer-schedule-contact,
.footer-links {
  flex: 1 1 200px;
  padding: 20px;
  
}

.footer-links ul {
  list-style: none;
  padding: 0;
}

.footer-links ul li {
  margin-bottom: 10px;
}

.footer-links ul li a {
  color: white;
  text-decoration: none;
}

.footer-links ul li a:hover {
  text-decoration: underline;
}

.footer-social {
  flex: 1 1 150px;
  padding: 20px;
  text-align: center;
}

.footer-social h3 {
  margin-bottom: 10px;
}

.social-icon {
  color: #fdfdfd;
  font-size: 24px;
  margin-right: 10px;
  cursor: pointer;
  transition: transform 0.2s ease-in-out;
}

.social-icon:hover {
  transform: scale(1.2);
  color: #eb8500;
}

/* Media Queries */
@media (max-width: 768px) {
  .footer {
    flex-direction: column;
    padding: 20px;
  }

  .footer-info {
    flex-direction: column;
    gap: 20px;
  }

  .newsletter-input {
    flex-direction: column;
  }

  .subscribe-button {
    align-self: flex-start;
  }
}

@media (max-width: 480px) {
  .footer-newsletter,
  .footer-schedule-contact,
  .footer-links,
  .footer-social {
    padding: 10px;
    text-align: center;
  }

  .footer-info {
    gap: 15px;
  }
}
