/* src/components/css/createproduct.css */

.create-product-container {
    max-width: 600px;
    margin: 10% auto;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .create-product-container h1 {
    margin-bottom: 20px;
    text-align: center;
  }
  
  .create-product-container form {
    display: flex;
    flex-direction: column;
  }
  
  .create-product-container label {
    margin-bottom: 10px;
    font-weight: bold;
  }
  
  .create-product-container input {
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-top: 5px;
    width: 100%;
  }
  
  .create-product-container button {
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 4px;
    background-color: #33af33;
    color: white;
    cursor: pointer;
    margin-top: 10px;
    align-self: center;
  }
  
  .create-product-container button:hover {
    background-color: #33af33;
  }
  